body {
  margin: 20px 30px;
  padding: 20px 30px;
  border: 1px;
  border-color: gray;
  border-style: dashed;
  max-width: 400px;
}

h1 {
  text-align: center;
  opacity: 0.7;
}
h2 {
  font-weight: bolder;
  opacity: 0.7;
}

.urls {
  text-align: center;
  margin: 20px 30px;
}
